@import "style.css";

#contact-screen::before {
    content: "";
    width: 90vw;
    height: 5px;
    background-color: var(--color-2);
}

form input:focus,
form textarea:focus {
    background-color: var(--color-light);
}

footer {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--color-2);
}

footer p {
    font-size: 20px;
    text-align: center;
    color: var(--color-dark);
}

form input:last-child {
    margin: 20px 0;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 650px) {

    footer {
        display: flex;
        flex-direction: column;
    }

}
