@import "style.css";

#contact-screen {
    min-height: calc(100vh - 74px);
}

#contact-screen::before {
    content: "";
    width: 90vw;
    height: 5px;
    background-color: var(--color-2);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

form label {
    font-size: 25px;
    margin-top: 20px;
    color: var(--color-2);
}

form input,
form textarea {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    color: var(--color-dark);
    background-color: var(--color-2);
    border: transparent 0px solid;
}

form input:focus,
form textarea:focus {
    background-color: var(--color-light);
}

footer {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--color-2);
}

footer p {
    font-size: 20px;
    text-align: center;
    color: var(--color-dark);
}

form input:last-child {
    margin: 20px 0;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 650px) {

    #contact-screen {
        min-height: calc(100vh - 182px);
    }

    form {
        width: 80vw;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

}
